#primary-nav ul{
    gap: 1rem;
}

#primary-nav ul li a{
    padding: 0.5rem 1rem;
}

.images img{
    height: 120px;
}

.card{
    border-radius: 10px;
}

.flex-graph>.graph-container{
    flex: 1 1 0;
    padding-inline: 1rem;
    min-width: 40%;
}