:root{
    --primary-clr: #0c243c;
    --accent-clr: #2b65ac;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.image-container img{
    width: 100%;
    height: auto;
}

#logo{
    max-height: 40px;
}

#primary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    min-height: 48px;
}

#primary-nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

#primary-nav ul li a{
    text-decoration: none;
    color: #FFF;
}

