:root{
    --primary-clr: #0c243c;
    --accent-clr: #2b65ac;
    --neutral-clr: #f8f8f8;

    --lgt-shadow: 0 2px 30px -10px #000;
    --drk-shadow: 0 2px 10px #000;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.image-container img{
    width: 100%;
    height: auto;
}

#logo{
    max-height: 40px;
}

#primary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    min-height: 48px;
    position: sticky;
    top: 0;
}

#primary-nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

#primary-nav ul li{
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.5rem;
}

#primary-nav ul li a{
    text-decoration: none;
    color: #FFF;
}

#title-bar{
    background-color: var(--accent-clr);
    color: #FFF;
    padding-left: 2rem;
    box-shadow: var(--lgt-shadow);
}

.card{
    margin-inline: auto;
    margin-block: 4rem;
    padding: 2rem;
    background-color: var(--neutral-clr);
    max-width: 720px;
    box-shadow: var(--drk-shadow);
}

